@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #1E1E1E;
    color: #ffff;
    height: 100vh;
    margin: 25px;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

form
{
    display: flex;
}

.days
{
    display: flex;
    gap: 48px;
    margin-left: 32px;
}

.day
{
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}


input
{
    appearance: none;
    -webkit-appearance: none;
    width: 64px;
    height: 64px;

    background: #18181B;
    border: 2px solid #27272A;
    border-radius: 8px;
}

input:checked
{
    border: 2px solid #A78BFA;
    background: #8B5CF6;
}

button
{
    padding: 16px 24px;
    background-color: transparent;
    color: #ffff;
    border: 1px solid #8B5CF6;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;

    width: 216px;
    height: 52px;

    flex: none;
    order: 1;
    flex-grow: 0;
}